<section>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"><i class="fa-solid fa-file-excel me-3"></i> Data_Base {{pais[0].title}}</a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <!-- Container wrapper -->


    <!-- Right elements -->
    <div class="d-flex align-items-center me-5">
      <!-- Avatar -->
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/images/Avatar.png" class="rounded-circle" height="50" alt="Avatar" loading="lazy" />
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated" aria-labelledby="userInfo">
          <div class="dropdown-header text-gray-700">
            <h6 class="text-uppercase font-weight-bold"><i class="fa-regular fa-address-card"></i> Alfredo Saavedra</h6>
            <small><i class="fa-solid fa-code"></i> Web Developer</small>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item pe-true" id="proximamente"> <i class="fa-solid fa-list-ul"></i> Proximamente</a>
          <a class="dropdown-item pe-true"> <i class="fa-solid fa-gear"></i> Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
        </div>
      </div>
    </div>
    <!-- Right elements -->
  </nav>
  <!-- Navbar -->
</section>
