<div class="row w-100">
  <!-- Tab navs -->
  <div class="nav flex-column nav-tabs text-start" id="v-tabs-tab" role="tablist" aria-orientation="vertical">
    <a routerLink="" routerLinkActive="active" class="nav-link my-1 px-2 border rounded" id="v-tabs-home-tab" data-mdb-toggle="tab"
    [routerLinkActiveOptions]="{ exact: true }"
      href="#v-tabs-home" role="tab" aria-controls="v-tabs-home"><i class="fa-solid fa-magnifying-glass"></i> Search list 2022
    </a>
    <a routerLink="capital" routerLinkActive="active" class="nav-link my-1 px-2 border rounded" id="v-tabs-profile-tab" data-mdb-toggle="tab"
      href="#v-tabs-profile" role="tab" aria-controls="v-tabs-profile"><i class="fa-solid fa-magnifying-glass"></i> Search list 2023
    </a>
    <a routerLink="region" routerLinkActive="active" class="nav-link my-1 px-2 border rounded" id="v-tabs-messages-tab" data-mdb-toggle="tab"
      href="#v-tabs-messages" role="tab" aria-controls="v-tabs-messages"><i class="fa-solid fa-list-check"></i> List Played
    </a>
  </div>
  <!-- Tab navs -->

  <div class="ps-0 pt-4">
    <!-- <img src="https://picsum.photos/284/670" alt="" class="img-fluid w-100 rounded"> -->
    <!-- <img src="https://via.placeholder.com/284x670" alt="#AD" class="img-fluid w-100 rounded"> -->
    <!-- <img src="https://api.lorem.space/image/game?w=284&h=670" alt="" class="img-fluid w-100 rounded"> -->
  </div>

</div>