<!-- <div class="row">
    <div class="col-6 col-md-3 col-lg-2 p-3">
      <div class="card">
        <div class="bg-image hover-overlay ripple rounded-7" data-mdb-ripple-color="light">
          <img src="{{game.poster}}" class="img-fluid" />
          <a [routerLink]="['/pais', game.id]" >
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>
    </div>
</div>  -->

<div class="contenedor mb-5">
  <div class="contenedor-card">
    <!-- Card -->
    <div *ngFor="let game of paises; let i = index"
      class="card shadow-1-strong pointer"
      style="background-image: url('{{game.poster}}');background-size:cover;height:322px;"
      [routerLink]="['/game', game.id]"
    >
      <div class="card-body text-white card-texto mask-custom">
        <h5 class="card-title">{{game.title | titlecase }}</h5>
        <p class="card-text">
          {{game.date_start }}
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>

