<div class="contenedor mb-5">
  <div class="contenedor-card">
    <!-- Card -->
    <div *ngFor="let game of paises; let i = index"
      class="card shadow-1-strong pointer"
      style="background-image: url('{{game.poster}}');background-size:cover;height:322px;"
      [routerLink]="['/game', game.id]"
    >
      <div class="card-body text-white card-texto mask-custom">
        <p class="card-text">
          {{game.date_start }}
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>

