.card{
    transform: translateY(0px);
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.contenedor{
    display: grid;
	grid-template-columns: 5fr;
	gap: 20px;
}
.contenedor-card{
    display: grid;
	grid-template-columns: repeat(5, 5fr);
	gap: 20px;
}