<p class="text-white"><i class="fa-solid fa-list-check text-white"></i> Select a List</p>

<div class="animate__animated animate__fadeIn animate__faster">
  <div class="row">
    <div class="col-12">

      <button *ngFor="let movie of movies" [class]="getClaseCSS( movie )" (click)="activarMoviesList( movie )">
        <i class="fa-solid fa-table"></i> {{ movie | titlecase }}
      </button>

    </div>
  </div>

</div>

<div class="contenedor mb-5">
  <div class="contenedor-card">

    <!-- Card -->
    <div *ngFor="let movie of moviesList; let i = index "
      class="card shadow-1-strong pointer"
      style="background-image: url('{{movie.poster}}');background-size:cover;height:322px;"
      [routerLink]="['/movie', movie.id]"
    >
      <div class="card-body text-white card-texto mask-custom">
        <p class="card-text">
          {{movie.view | date: 'dd, MMM'}}
        </p>
      </div>
    </div>
    <!-- Card -->

  </div>
</div>